{% extends "base.html" %}

{% block content %}

<header class="hero-img">

    <section id="contact" class="contact py-5 choice">

        <h2 class="section-title">kontakt</h2>
        <div class="underLine"></div>

        <div class="container">

            <div class="row text-center contact-us">

                <div class="col-sm-6 col-lg-4 contact-item order-1">
                    <h3>Główna siedziba</h3>
                    <p>Rzeszów</p>
                    <p>al. Powstańców Warszawy 42/2</p>
                </div>

                <div class="col-lg-4 order-0 order-lg-1 contact-item">
                    <h3>social media</h3>
                    <div class="social-media">
                        <a href="https://www.facebook.com/adam.rybinski.25/"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.instagram.com/rybinski_adam/"><i class="fa-brands fa-instagram"></i></a>
                        <a href="https://github.com/rybinski92"><i class="fa-brands fa-github"></i></a>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4 contact-item order-1">
                    <h3>Kontakt</h3>
                    <p><i class="fa-solid fa-phone"></i> 665 329 116</p>
                    <p><i class="fa-regular fa-envelope"></i> adamrybinski.kontakt@gmail.com</p>
                </div>

            </div>

        </div>
        <div class="contact-shadow"></div>

    </section>
    <div class="hero-shadow"></div>


</header>
<footer class="bg-dark text-light py-4 text-center">

    <p class="mb-0">&copy; 2023 | Runners</p>

</footer>



{% endblock %}