{% extends "base.html" %}

{% block title %}
Users
{% endblock %}


{% block content %}
<!-- Modal -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- <div class="modal-header"> 
                <h5 class="modal-title" id="exampleModalLabel">This entry will be deleted:</h5> 
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> 
            </div>  -->
            <div class="modal-body" id="idDeleteModalBody">
                ...
            </div>
            <div class="modal-footer">
                <form action="" method="GET" id="confirmDeleteForm">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        // For A Delete Record Popup 
        // This function is applied to all elements with class ending with ".delete-confirm" 
        $('.delete-confirm').click(function () {
            // get attributes of the found element 
            var desc = $(this).attr('data-desc');
            var url = $(this).attr('data-url');
            // the #... designates id of an element - change the text in the modal window 
            $('#idDeleteModalBody').text(desc); $("#confirmDeleteForm").attr("action", url);
        });
    }); 
</script>

<header class="hero-img">
    <div class="container choice">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">User name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Is active</th>
                    <th scope="col">Is admin</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <th scope="row">{{ user.id }}</th>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <a href="{{ url_for('user_status_change', action='active', user_name=user.name) }}">
                            {% if user.is_active %}
                            &check;
                            {% else %}
                            &#x25a2;
                            {% endif %}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('user_status_change', action='admin', user_name=user.name) }}">
                            {% if user.is_admin %}
                            &check;
                            {% else %}
                            &#x25a2;
                            {% endif %}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('edit_user', user_name=user.name) }}" class="btn btn-success btn-sm"
                            role="button">Edit...</a>

                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
    <div class="hero-shadow"></div>
</header>
{% endblock %}